#root {
  margin: 0 0;
  padding: 2rem;
  text-align: center;
}

.app-wrap {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem;
}

.preview-wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}